@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: digital_7;
  src: url(digital-7.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

/*------------ Styling the check box to make it a round slider ------------*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(143, 134, 134);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #5a5a5a;
  box-shadow: 0 0 10px #ffffff;
}

input:not(:checked)+ .slider {
  box-shadow: 0 0 10px rgb(30, 29, 29);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/*Styling the glass section*/
.Glass {
  /*Making the structure of the glass*/
  background: white;
  min-height: 50vh;
  width: 55%;

  /*linear-gradient Coloring with opacity using rgba*/
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;

  /*Aligning clock and qoute divs using Flex box*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  /* Adding blur effect*/
  backdrop-filter: blur(0.2rem);
}

.clock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: digital_7;
}

/*Positioning the switch in flex*/
.theme_switch {
  position: absolute;
  top: 2%;
  right: 2%;
}

/* Styling the main section*/
main {
  /*spaning to full screen height*/
  min-height: 100vh;

  /*making background linearly gradient*/
  /*
  background: linear-gradient(
    to left top,
    rgb(167, 149, 255),
    rgb(235, 235, 235)
  );
*/
  /*Making a flex box to align the glass class in the center*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url("/resources/light_mode.jpg");
  background-size: cover; /* image does not zoom anymore */
}

.ClockBG {
  width: 50%;
  margin: 0 auto;
  padding: 40px 40px;
  background-color: #f3f3f3;
}

#time {
  font-family: digital_7;
  font-size: 7em;
  display: flex;
  padding-right: 10%;
}

#ap {
  display: flex;
  font-size: 2.5em;
}

span {
  padding: 10px 10px;
}

#weekDays {
  padding-bottom: 10px;
  font-size: 1.8em;
}

.in-active {
  opacity: 0.3;
}
.active {
  font-weight: bold;
}

.author {
  text-align: end;
  font-size: medium;
  color: #000000;
  font-weight: bold;
  margin-right: 2%;
}

.weatherDeatils {
  display: inline-flex;
  align-items: center;
  position: absolute;
  left: 0.85%;
  bottom: 1%;

  background: white;

  /*linear-gradient Coloring with opacity using rgba*/
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;

  /* Adding blur effect*/
  backdrop-filter: blur(0.2rem);
}

#weatherTempSpan {
  padding-right: 0px;
}

#weatherDesc {
  margin-right: 25px;
}

.qoute {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
